In [1]:
# Submission by A0275698A

In [2]:
from ta.utils import dropna
from ta.volatility import AverageTrueRange
from ta.trend import SMAIndicator
from ta.momentum import RSIIndicator

import yfinance as yf

In [3]:
stock_symbol = 'AAPL'
start = "2023-01-01"
end = "2024-01-01"

sma_window = 5
rsi_window = 14
atr_window = 14

In [4]:
# Stock prices
stock_data = yf.Ticker(stock_symbol).history(start=start,end=end)[['Open','High','Low','Close','Volume']]
stock_data

,Open,High,Low,Close,Volume
Date,,,,,
2023-01-03 00:00:00-05:00,129.390738,130.006501,123.322443,124.216301,112117500
2023-01-04 00:00:00-05:00,126.023886,127.781809,124.226243,125.497505,89113600
2023-01-05 00:00:00-05:00,126.262240,126.897870,123.908421,124.166641,80962700
2023-01-06 00:00:00-05:00,125.149893,129.400670,124.037535,128.735245,87754700
2023-01-09 00:00:00-05:00,129.579450,132.499385,129.003407,129.261627,70790800
...,...,...,...,...,...
2023-12-22 00:00:00-05:00,194.931260,195.160978,192.724085,193.353287,37122800
2023-12-26 00:00:00-05:00,193.363270,193.642911,192.584265,192.803986,28919300
2023-12-27 00:00:00-05:00,192.244692,193.253399,190.846467,192.903839,48087700
2023-12-28 00:00:00-05:00,193.892582,194.411923,192.923817,193.333298,34049900
2023-12-29 00:00:00-05:00,193.652887,194.152249,191.485654,192.284637,42628800

In [5]:
# SMA Indicator
stock_data['sma_5'] = SMAIndicator(close = stock_data.Close, window = sma_window, fillna = False).sma_indicator()
stock_data['sma_5'].head(15)

Date
2023-01-03 00:00:00-05:00           NaN
2023-01-04 00:00:00-05:00           NaN
2023-01-05 00:00:00-05:00           NaN
2023-01-06 00:00:00-05:00           NaN
2023-01-09 00:00:00-05:00    126.375464
2023-01-10 00:00:00-05:00    127.499733
2023-01-11 00:00:00-05:00    128.915997
2023-01-12 00:00:00-05:00    130.582544
2023-01-13 00:00:00-05:00    131.603528
2023-01-17 00:00:00-05:00    132.753622
2023-01-18 00:00:00-05:00    133.643509
2023-01-19 00:00:00-05:00    133.997079
2023-01-20 00:00:00-05:00    134.882993
2023-01-23 00:00:00-05:00    136.144324
2023-01-24 00:00:00-05:00    137.453329
Name: sma_5, dtype: float64

In [6]:
# RSI Indicator
stock_data['rsi_14'] = RSIIndicator(close = stock_data.Close, window = rsi_window, fillna = False).rsi()
stock_data['rsi_14'].head(20)

Date
2023-01-03 00:00:00-05:00          NaN
2023-01-04 00:00:00-05:00          NaN
2023-01-05 00:00:00-05:00          NaN
2023-01-06 00:00:00-05:00          NaN
2023-01-09 00:00:00-05:00          NaN
2023-01-10 00:00:00-05:00          NaN
2023-01-11 00:00:00-05:00          NaN
2023-01-12 00:00:00-05:00          NaN
2023-01-13 00:00:00-05:00          NaN
2023-01-17 00:00:00-05:00          NaN
2023-01-18 00:00:00-05:00          NaN
2023-01-19 00:00:00-05:00          NaN
2023-01-20 00:00:00-05:00          NaN
2023-01-23 00:00:00-05:00    91.032078
2023-01-24 00:00:00-05:00    91.932460
2023-01-25 00:00:00-05:00    87.469937
2023-01-26 00:00:00-05:00    89.233910
2023-01-27 00:00:00-05:00    90.574393
2023-01-30 00:00:00-05:00    75.514414
2023-01-31 00:00:00-05:00    77.303712
Name: rsi_14, dtype: float64

In [7]:
# Average True Range
stock_data['atr_14'] = AverageTrueRange(high = stock_data.High, low = stock_data.Low, close = stock_data.Close, window = atr_window, fillna = False).average_true_range()
stock_data['atr_14'].head(20)

Date
2023-01-03 00:00:00-05:00    0.000000
2023-01-04 00:00:00-05:00    0.000000
2023-01-05 00:00:00-05:00    0.000000
2023-01-06 00:00:00-05:00    0.000000
2023-01-09 00:00:00-05:00    0.000000
2023-01-10 00:00:00-05:00    0.000000
2023-01-11 00:00:00-05:00    0.000000
2023-01-12 00:00:00-05:00    0.000000
2023-01-13 00:00:00-05:00    0.000000
2023-01-17 00:00:00-05:00    0.000000
2023-01-18 00:00:00-05:00    0.000000
2023-01-19 00:00:00-05:00    0.000000
2023-01-20 00:00:00-05:00    0.000000
2023-01-23 00:00:00-05:00    3.778317
2023-01-24 00:00:00-05:00    3.711328
2023-01-25 00:00:00-05:00    3.710136
2023-01-26 00:00:00-05:00    3.614678
2023-01-27 00:00:00-05:00    3.650891
2023-01-30 00:00:00-05:00    3.608609
2023-01-31 00:00:00-05:00    3.496990
Name: atr_14, dtype: float64

In [8]:
# Show stock prices data along with all the indicators
stock_data.head(20)

,Open,High,Low,Close,Volume,sma_5,rsi_14,atr_14
Date,,,,,,,,
2023-01-03 00:00:00-05:00,129.390738,130.006501,123.322443,124.216301,112117500,NaN,NaN,0.000000
2023-01-04 00:00:00-05:00,126.023886,127.781809,124.226243,125.497505,89113600,NaN,NaN,0.000000
2023-01-05 00:00:00-05:00,126.262240,126.897870,123.908421,124.166641,80962700,NaN,NaN,0.000000
2023-01-06 00:00:00-05:00,125.149893,129.400670,124.037535,128.735245,87754700,NaN,NaN,0.000000
2023-01-09 00:00:00-05:00,129.579450,132.499385,129.003407,129.261627,70790800,126.375464,NaN,0.000000
2023-01-10 00:00:00-05:00,129.370853,130.364028,127.245461,129.837646,63896200,127.499733,NaN,0.000000
2023-01-11 00:00:00-05:00,130.354111,132.598679,129.569510,132.578827,69458900,128.915997,NaN,0.000000
2023-01-12 00:00:00-05:00,132.966167,133.343563,130.542820,132.499374,71379600,130.582544,NaN,0.000000
2023-01-13 00:00:00-05:00,131.128803,133.999076,130.761333,133.840164,57809700,131.603528,NaN,0.000000
2023-01-17 00:00:00-05:00,133.909676,136.352876,133.214457,135.012100,63646600,132.753622,NaN,0.000000
2023-01-18 00:00:00-05:00,135.886090,137.663865,134.108300,134.287079,69672800,133.643509,NaN,0.000000
2023-01-19 00:00:00-05:00,133.164800,135.319986,132.856918,134.346680,58280400,133.997079,NaN,0.000000
2023-01-20 00:00:00-05:00,134.356622,137.077925,133.303860,136.928940,80223600,134.882993,NaN,0.000000
2023-01-23 00:00:00-05:00,137.177224,142.341742,136.958724,140.146820,81760300,136.144324,91.032078,3.778317
2023-01-24 00:00:00-05:00,139.352281,142.182834,139.342355,141.557129,66435100,137.453329,91.932460,3.711328
2023-01-25 00:00:00-05:00,139.928298,141.457779,137.862494,140.891678,65799300,138.774249,87.469937,3.710136
2023-01-26 00:00:00-05:00,142.192770,143.265400,140.931435,142.977386,54105100,140.500391,89.233910,3.614678
2023-01-27 00:00:00-05:00,142.182817,146.225028,142.103362,144.933899,70555800,142.101382,90.574393,3.650891
2023-01-30 00:00:00-05:00,143.970554,144.556523,141.874956,142.023926,64015300,142.476804,75.514414,3.608609
2023-01-31 00:00:00-05:00,141.725971,143.354776,141.308840,143.305115,65874500,142.826401,77.303712,3.496990